$color-primary-0: #f6bf36; // Main Primary color */
$color-primary-1: #ffdc86;
$color-primary-2: #ffd05c;
$color-primary-3: #dba00d;
$color-primary-4: #ab7a03;

$color-complement-0: #3648a8; // Main Complement color */
$color-complement-1: #7987d0;
$color-complement-2: #5161b8;
$color-complement-3: #1b2e96;
$color-complement-4: #102075;

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: rgb(54, 72, 168);
  background: linear-gradient(
    150deg,
    rgba(54, 72, 168, 1) 38%,
    rgba(181, 181, 172, 1) 100%
  );

  font-family: 'Aclonica', sans-serif;
}

header {
  background-color: $color-primary-0;
  padding: 1rem;
  box-shadow: 1px 2px 22px 2px rgba(0, 0, 0, 0.75);

  h1 {
    margin: 0;
    color: $color-complement-0;
  }

  a {
    text-decoration: none;
  }
}

.homepage-main {
  display: flex;
  justify-content: center;

  section {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-shadow: 7px 11px 22px 2px rgba(0, 0, 0, 0.75);
    align-items: center;
    color: $color-complement-0;
    background-color: $color-primary-0;
    padding: 1rem;
    border-radius: 3px;
  }

  section:hover {
    background-color: $color-primary-1;
  }

  a {
    text-decoration: none;
  }

  img {
    border-radius: 2rem;
    padding: 0.5rem;
  }

  p {
    margin: 0;
    text-align: center;
  }

  .section-header {
    font-size: 20px;
    font-weight: bold;
  }
}

.role-picker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
    color: $color-complement-0;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
  }
}

.roles-main > section {
  display: flex;
  justify-content: center;

  section {
    margin: 1rem;
    background-color: $color-primary-0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-complement-0;
    box-shadow: 7px 11px 22px 2px rgba(0, 0, 0, 0.75);

    img {
      height: 75px;
      border-radius: 100%;
      padding: 1rem;
    }

    p {
      margin: 0;
      color: $color-complement-2;
    }

    input {
      text-align: center;
    }
  }
}

.roles-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    color: $color-primary-2;
    background-color: $color-complement-3;
    border: 3px solid $color-primary-3;
    padding: 0.5rem;
    box-shadow: 7px 11px 22px 2px rgba(0, 0, 0, 0.75);
    font-size: 30px;
  }

  button {
    background: linear-gradient(to bottom, #ffec64 5%, #f6c036 100%);
    background-color: #ffec64;
    border-radius: 6px;
    cursor: pointer;
    color: #3647a8;
    font-size: 12px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }
  button:hover {
    background: linear-gradient(to bottom, #f6c036 5%, #ffec64 100%);
    background-color: #f6c036;
  }
  button:active {
    position: relative;
    top: 1px;
  }
}

.joust-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
  }
}
